*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: rgba(0, 0, 0, 0.75);
}

img{
    max-width: 100%;
}


body{
    background-color: var(--white);
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
    color: var(--very-dark-blue);
    font-weight: 500;
    width: 100%;
    height: 100%;
    position: relative;
}

header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem;
    position: relative;
}

button, img {
  touch-action: manipulation;
}

.nav-left,
.nav-right{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav-left{
    gap: 1rem;
}

.openBtn, .closeBtn{
    width: 1.3rem;
}

nav{
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 15rem;
    background-color: var(--white);
    z-index: 15;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

nav.toggle{
    transform: translate(0);
}

body.no-scroll {
  overflow: hidden;
}

ul {
    margin: 6rem 1.5rem;
}

ul li{
    list-style-type: none;
    display: block;
    margin: 1.5rem 0;
}

ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    color: var(--very-dark-blue);
}

.product-container{
    display: flex;
    flex-direction: column;
}

/* close side nav icon */
.close-btn{
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: var(--black);
}

/* Avatar Image */
.avatar-img{
    width: 1.5rem;
    height: 1.5rem;
}

.hidden{
    display: none !important;
}

/* Thumnail Images */
.thumbnail-image-section{
    display: none;
}

/* main Image */
.main-img{
    position: relative;
    width: 100%;
}

.main-image{
    width: 100%; 
    height: 18.75rem;
    object-fit: cover;
    object-position: top;
}

/* Previous and Next button */
.prev,
.next,
.lightbox-prev,
.lightbox-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    font-size: 2rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}

.prev img, 
.next img {
    width: 0.8rem;
    height: 0.8rem;
    object-fit: contain;
    background: transparent;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

/* Details */
.company-name{
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
    letter-spacing: 0.125rem;
    margin-block-end: 0.7rem;
    font-size: 0.9rem;
}

.product-name{
    font-size: 2rem;
    line-height: 1.1;
    padding-block-end: 0.5rem;
}

.description{
    line-height: 1.7;
    margin: 1rem 0;
    color: var(--dark-grayish-blue);
}

.details-section{
    width: 100%;
    max-width: 25rem;
    margin-block-end: 4rem;
    padding: 1.5rem;
    margin-inline: auto;
}

/* Prices */
.price-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1.5rem 0;
}

.price{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.current-price{
    font-weight: 700;
    font-size: 2rem;
}

.old-price{
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.discount{
    background-color: var(--very-dark-blue);
    color: var(--white);
    padding: 0.3rem 0.8rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
}

/* Addition and Subtraction block */
.quantity, .add-to-cart{
    width: 100%;
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.minus-btn,
.plus-btn,
.add-to-cart,
.close-lightbox,
.open-btn,
.close-btn{
    border: none;
    outline: none;
    background-color: transparent;
}

.minus-btn img, .plus-btn img{
    width: 1.1rem;
}

.display-quantity{
    font-weight: 700;
    font-size: 1.5rem;
}

.add-to-cart{
    background-color: var(--orange);
    justify-content: center;
    display: flex;
    gap: 1rem;
    font-weight: 700;
    font-size: 1rem;
    color: var(--very-dark-blue);
    box-shadow: 0 4px 10px var(--pale-orange);
}

/* cart */
.cart-dropdown{
    position: absolute;
    top: 12.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 22.5rem;
    min-height: 15rem;
    border-radius: 0.5rem;
    z-index: 10;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.cart-dropdown h3 {
  border-bottom: 1px solid var(--grayish-blue);
  padding: 1.5rem 2rem;
  margin-block-end: 1rem;
}

.empty-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: var(--dark-grayish-blue); 
}

.cart-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.carts-controls{
    display: grid;
    gap: 1.2rem;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.checkout-btn {
  background-color: var(--orange);
  color: var(--very-dark-blue);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 2rem;
}

/* image in the cart */
.cart-thumb{
    width: 3rem;
    border-radius: 0.2rem;
}

.item-details{
    line-height: 1.7;
    color: var(--dark-grayish-blue);
}

.total-price{
    color: var(--very-dark-blue);
}

/* The item count on the cart icon in the homepage */
.cart-container{
    position: relative;
}

.item-count{
    position: absolute;
    top: -0.4rem;
    right: -0.4rem;
    background-color: var(--orange);
    color: var(--pale-orange);
    font-size: 0.6rem;
    font-weight: 700;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
}

/* Thumb images */
.thumbnail-images,
.lightbox-thumbnails{
    display: flex;
    gap: 2rem;
}

.thumb{
    width: 5.2rem;
    border-radius: 0.5rem;
}

.thumb.active {
    border: 2px solid var(--orange);
    opacity: 0.3;
}

@media (min-width: 71.875rem){

    body{
        display: flex;
        justify-content: center;
        width: 100%;
    }

     .container{
        width: 80%;
        max-width: 70rem;
        margin: 0 auto;
    }  
    
    .openBtn, .closeBtn{
        display: none;
    }

    /* navigation bar */
    nav{
        position: relative;
        top: 0; 
        padding: 0;
        height: auto;
        left: auto;
        transform: translateX(0);
        background-color: transparent;
        width: 100%;
        display: flex;
    }

    ul{
        margin: 0;
        margin-inline-start: 2rem;
    }

    ul li{
        display: inline-block;
        margin: 0 1rem;
    }

    ul li a{
        font-weight: 500;
        color: var(--dark-grayish-blue);
        display: inline-block;
    }

    ul li a.active{
        border-block-end: 3px solid var(--orange);
    }

    header{
        padding: 2rem 0;
        border-bottom: 1px solid var(--grayish-blue);
    }

    .main-image, 
    .prev, 
    .next,
    .prev img, 
    .next img {
        display: none;
    }

    .avatar-img{
        width: 3rem;
        height: 3rem;
    }

    .cart-icon{
        width: 3.3rem;
    }

    .logo-image{
        width: 11rem;
    }

    .nav-right{
        gap: 2rem;
    }

    .thumbnail-image-section{
        display: grid;
        gap: 1.5rem;
    }

     .details-section{
        max-width: 30rem;
        margin-block-end: 0;
    } 

    .product-container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 6rem 1rem;
    }

    .main-thumb{
        width: 27rem;
        border-radius: 0.8rem;
    }

    .similar-class{
        flex: 1;
    }
    
    .product-name {
        font-size: 2.6rem;
        padding: 0.5rem 0;
    }

    .description{
        margin-block-start: 2rem;
    }
    
    .carts-controls{
        grid-template-columns: 1.3fr 2fr;
    }

    /* Price section */
    .price-box{
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    .company-name{
        font-size: 0.8rem;
    }

    .cart-dropdown{
        top: 6rem;
        right: 5%;
        left: auto;
        transform: none;
    }

    /* ligthbox section */
    .lightbox-main-image {
        width: 30rem;
        height: 30rem;
        border-radius: 1.5rem;
    }

    .lightbox-thumbnails{
        gap: 1.5rem;
    }

    .lightbox-thumbnails .thumb{
        width: 5rem;
    }

    .thumnails-container{
        display: grid;
        gap: 2rem;
        position: relative;
        place-items: center;
    }

    .lightbox-image-wrapper{
        position: relative;
    }

    .lightbox{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    /* Lightbox close button */
    .lightbox-content{
        position: relative;
        width: 100%;
        max-width: 37rem;
        margin: auto;
    }

    .close-lightbox{
        position: absolute;
        top: -4rem;
        right: 4rem; 
        color: var(--white);
        font-size: 2.5rem;
        cursor: pointer;
        z-index: 1;
    }

    /* Lightbox Previous and next control */
    .lightbox-prev {
        left: -2rem;
    }

    .lightbox-next {
        right: -2rem;
    }

    .lightbox-prev,
    .lightbox-next{
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media (min-width: 43.75rem) and (max-width: 71.874rem){

    body{
        display: flex;
        justify-content: center;
    }

    .open-btn, .close-btn{
        display: none;
    }

    /* navigation bar */
    nav{
        position: relative;
        top: 0; 
        padding: 0;
        height: auto;
        left: auto;
        transform: translateX(0);
        background-color: transparent;
        width: 100%;
        display: flex;
    }

    ul{
        margin: 0;
        margin-inline-start: 1rem;
    }

    ul li{
        display: inline-block;
        margin: 0 1rem;
    }

    ul li a{
        font-weight: 500;
        color: var(--dark-grayish-blue);
        display: inline-block;
    }

    ul li a.active{
        border-block-end: 3px solid var(--orange);
    }

    header{
        padding: 2rem 1rem;
        border-bottom: 1px solid var(--grayish-blue);
    }

    .avatar-img{
        width: 2rem;
        height: 2rem;
    }

    .cart-icon{
        width: 3rem;
    }
        
    .product-container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 3rem 1rem;
    }
    .thumbnail-image-section{
        display: grid;
        gap: 1.5rem;
    }
   
    .similar-class{
        flex: 1;
    } 

    .main-img{
        display: none;
    }

    .main-thumb{
        width: 20rem;
        border-radius: 0.8rem;
    }

    .thumb{
        width: 3.5rem;
    }

    .details-section{
        max-width: 30rem;
        margin-block-end: 0;
    }

    /* buttons container */
    .carts-controls{
        grid-template-columns: 1.5fr 2fr;
    }
    .quantity, .add-to-cart{
        padding: 1rem;
    }

    /* ligthbox section */
    .lightbox-main-image {
        width: 26rem;
        height: 26rem;
        border-radius: 1.5rem;
    }

    .lightbox-thumbnails{
        gap: 1.5rem;
    }

    .lightbox-thumbnails .thumb{
        width: 5rem;
    }

    .thumnails-container{
        display: grid;
        gap: 2rem;
        position: relative;
        place-items: center;
    }

    .lightbox-image-wrapper{
        position: relative;
    }

    .lightbox{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    /* Lightbox close button */
    .lightbox-content{
        position: relative;
        width: 100%;
        max-width: 37.5rem;
        margin: auto;
    }

    .close-lightbox{
        position: absolute;
        top: -3rem;
        right: 6rem; 
        color: var(--white);
        font-size: 2.5rem;
        cursor: pointer;
        z-index: 1;
    }

    /* Lightbox Previous and next control */
    .lightbox-prev {
        left: -2rem;
    }

    .lightbox-next {
        right: -2rem;
    }

    .lightbox-prev,
    .lightbox-next{
        width: 3.5rem;
        height: 3.5rem;
    }

    /* cart */

    .cart-dropdown{
        top: 6rem;
        right: 2%;
        left: auto;
        transform: none;
    }
}
